.App {
  height: 1000px;
}

.flex-container{
  background-color: #fda197;
  border: 10px solid #ff3a3a;
  border-radius: 15px;
  width: 600px;
  height: 440px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.pomodoro-button{
  border : 3px solid #8eff43;
  border-radius: 7px;
  background-color: #8eff43;
  font-size: 22px;
  font-style: bold;
  width: 40%;
  margin: 10px;
  color: #413012;
}

.timer-container{
  height: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tomato-container{
  height: 50px;
}

.tomato-icon{
  height: 40px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.timer-circle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.timer-circle {
  position: absolute;
  right: 170px;
  overflow: visible;
  transform: rotate(-90deg);
}

.timer-text {
  position: relative;
  top: 45px;
  left: 5px;
}

h1 {
  color: #413012;
}